.iframe {
  width: 100%;
  height: auto;
}
.course-timeline {
  margin: -1.2em;
}
iframe.wikipedia {
  min-height: 70vh;
  width: 100%;
}
.bg-gradient {
  background: #963c3c; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #b2eaff, #963c3c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #b2eaff, #963c3c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #b2eaff, #963c3c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #b2eaff, #963c3c); /* Standard syntax */
  color: white;
}
input.form-control.border-bottom {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-bottom-width: 2px;
}
.color-red {
  color: red;
}
.course-show .course-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.navbar-logo {
  max-height: 1.6em;
  max-width: 1.6em;
  fill: red;
  vertical-align: middle;
}
