$color-green-primary: #34e89e;
$color-green-secondary: #0f3443;
$color-gray: #999999;

.navbar-wrapper {
  border-bottom: 1px solid #cccccc;
}
.social-sharing {
  font-size: 2em;
}
.iframe {
  width: 100%;
  height: auto;
}
iframe.wikipedia {
  min-height: 80vh;
  width: 100%;
}
.bg-gradient {
  color: white;
}
.bg-gradient {
  .course-thumb {
    color: black;
  }
}
.bg-white {
  background-color: white;
}
.bg-subtle:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.05;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.bg-subtle-diamond:before {
  background-image: url("/subtle_patterns/diamond.png");
}
.bg-subtle-cubes:before {
  background-image: url("/subtle_patterns/cubes.png");
}
.bg-subtle-roman-tile:before {
  background-image: url("/subtle_patterns/roman-tile.png");
}
.bg-subtle-hex:before {
  background-image: url("/subtle_patterns/hex.png");
}
.bg-subtle-swirls:before {
  background-image: url("/subtle_patterns/swirls.png");
}
.bg-gradient {
  input.form-control,
  textarea.form-control {
    color: white;
    background: none;
    &:focus {
      color: white;
    }
    &.border-bottom {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      border-bottom-width: 2px;
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }
  .border-right-white {
    border-right: 1px solid white;
    &:last-child {
      border-right: none;
    }
  }
}
.color-red {
  color: red;
}
.bg-gradient input.form-control {
  background: none;
  border-bottom-color: white;
}
.bg-gradient textarea.form-control {
  background: rgba(255, 255, 255, 0.1);
  border-bottom-color: white;
}
.course-show {
  min-height: 100vh;
  padding-bottom: 3em;
  position: relative;
}
.courses-index {
  padding-bottom: 3em;
}
.card-img-top {
  padding: 0 0.5em;
}
.course-progress-vertical {
  position: fixed;
  top: 57px; /* matches navbar top */
  right: 24px;
  margin-top: 2em;

  .progress-bar-vertical {
    width: 20px;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-color: rgba(255,255,255,0.4);
  }

  .progress-bar-vertical .progress-bar {
    width: 100%;
    // height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
  }

  .timeline-buttons-vertical {
    position: fixed;
    top: 57px;
    margin-top: 2em;
    right: 10px;
    height: 80vh;
  }
  .timeline-text {
    margin-right: -1.5em;
    color: white;
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }

  .btn-link {
    color: black;
  }
  .progress-bar {
    background-color: #aaaaaa;
  }
  .timeline-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.course-progress {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: -10%;
  width: 80%;


  .btn-link {
    color: black;
  }
  .progress-bar {
    background-color: #aaaaaa;
  }
  .timeline-icon {
    display: inline-block;
  }
}
.challenge-help {
  padding-right: 1em;
}
.matching-match-with {
  margin-top: 0.3em;
}
.simple_q_and_a-question,
.multiple_choice-question {
  margin-top: 25vh;
  &.no-margin {
    margin-top: 0;
  }
}
.matching-question {
  margin-top: 15vh;
  &.no-margin {
    margin-top: 0;
  }
}
.multiple-choice-option-wrapper {
   display: flex;
   margin-bottom: 1em;
   .multiple-choice-option {
     align-items: stretch;
   }
}
.simple_q_and_a-question-image_url {
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 50vh;
}
.simple_q_and_a-feedback,
.wikipedia_notes-feedback,
.multiple_choice-feedback {
  text-align: left;
  background-color: white;
  padding: 0.5em 1em;
  opacity: 0.8;
  color: #222222;
  p {
    margin-bottom: 0;
  }
}
.simple_signup-callToActionText {
  margin-top: 25vh;
}
.simple_start-start {
  margin-top: 25vh;
}
.simple_start-icon {
  font-size: 6em;
}
.full-height {
  height: 100%;
}
.course-thumb {
  h1 {
    padding-top: 0.5em;
    font-size: 4em;
  }
  ul {
    margin-bottom: 0;
  }
}
.course-show .course-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.navbar-logo {
  max-height: 1.6em;
  max-width: 1.6em;
  fill: red;
  vertical-align: middle;
}
.wikipedia-vora-logo {
  max-height: 1em;
  max-width: 1em;
  fill: red;
  position: block;
}
// bootstrap button
.btn-outline-secondary {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-secondary:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #fff;
  background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.bg-gradient .btn-link {
  color: white;
}
.btn-link-inline {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid white;
  color: inherit;
  background: none;
}
// multiple choice buttons
.btn-mc {
  white-space: normal;
}
.dictionary-wrapper {
  display: inline;
}
.btn-timeline {
  display: inline-block;
  position:relative;
  &.skip {
    color: #333333;
    &.active {
      color: inherit;
    }
  }
  &.btn.disabled,
  &.btn:disabled {
    opacity: 0.2;
  }
}
.btn-pointer {
  cursor: pointer;
}
.captions-text {
  // color: white;
  margin-top: 0.5em;
}
.definition-text {
  background-color: white;
  padding: 1em;
  color: black;
}
.dictionary-list {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 1em;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 3px;
}
.errors-list {
  background-color: red;
  padding: 1em;
  color: white;
  list-style: none;
}

.list-inline-item {
  .nav-link {
    display: inline;
  }
}
.timeline-text-wrapper {
  opacity: 0;
  z-index: 0;
  &:hover {
    opacity: 1;
  }
}
.timeline-column {
  display: inline-block;
  height: 100%;
}

// react star rating
// https://github.com/cameronroe/react-star-rating
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
