$color-green-primary: #34e89e;
$color-green-secondary: #0f3443;

.navbar-wrapper {
  border-bottom: 1px solid #999999;
}

.iframe {
  width: 100%;
  height: auto;
}
.course-timeline {
  margin: -1.2em;
}
iframe.wikipedia {
  min-height: 70vh;
  width: 100%;
}
.bg-gradient {
  color: white;
}
.bg-gradient:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.03;
    background-image: url("/subtle-1.png");
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
input.form-control.border-bottom {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  border-bottom-width: 2px;
}
.color-red {
  color: red;
}
.bg-gradient input.form-control {
  background: none;
  border-bottom-color: white;
}
.course-show {
  height: 100vh;
  position: relative;
}
.course-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.full-height {
  height: 100%;
}
.course-show .course-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.navbar-logo {
  max-height: 1.6em;
  max-width: 1.6em;
  fill: red;
  vertical-align: middle;
}
// bootstrap button
.btn-outline-secondary {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-secondary:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
          box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #fff;
  background-color: transparent;
}

.btn-outline-secondary:active, .btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
